/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
  scroll-behavior: smooth;
}


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


h1{
  color: #4f4f4f;
  text-align: center;
}

.container-header{
  color: #636363;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 30px 0;
}



@media (min-width: 1281px) {

  .banner-img{
    height: 95vh;
    object-fit: contain;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .banner-img{
    height: 90vh;
    object-fit: cover;
  }

}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette{
text-align: center;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

}

.col-md-4{
  width: 350px;
  height: auto;
  margin: auto;

}


.card{
  text-align: center;
} 

.card-img-container{
  height: 400px;
  width: 350px;
  margin: 0 auto ;
}

.card-img-container > img{
  height: 100%;
  width: auto;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .card-img-container{
    height: 300px;
    width: 100%;
    margin: 0 auto ;
  }
}

@media screen and (max-width: 1000px) {
  .card-img-container{
    height: 200px;
    width: 100%;
    margin: 0 auto ;
  }
}

@media screen and (max-width: 760px) {
  .card-img-container{
    height: 400px;
    width: 100%;
    margin: 0 auto ;
  }
}

.announcments-container{
  margin-top: 100px;
  margin-bottom: 100px;
}

.announcments{
  width: 90%;
  margin: auto;
}

.announcments span{
  margin-right: 5px ;
  margin-bottom: 5px ;
  border-radius: 50%;
  padding: 5px;
  animation: announcment-animation 1000ms linear infinite;
}

@keyframes announcment-animation{
  from{
    background-color: #fff;
  }

  to{
    background-color: red;
  }
}

.announcments > ul > li{
  list-style: none;
  padding: 10px;
  font-weight: bold;
  text-align: justify;
}



/* adjust captain images and relatively footer */

.captain-img{
  width: 14rem;
  margin: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 9px 4px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 9px 4px rgba(148,148,148,1);
  box-shadow: 0px 0px 9px 4px rgba(148,148,148,1);
}


footer{
  text-align: center;
}

footer hr{
  width: 20rem;
  background-color: #8f8f8f;
}

footer h3{
  font-size: 1.2rem;
  color: #0014c9;
}
